/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body 
{
    box-sizing: border-box; 
    background-color: #e3e3e3;
    font-family: 'Quicksand', sans-serif;
}

* 
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*=================Header====================*/
.hero 
{
    height: 100vh;
    padding: 5%;
    background-image: url(../img/hero2.jpeg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero, nav 
{
    text-align: center;
    color: white;
}

.enlaces a
{
    text-decoration: none;
    color: white;
    margin-right: 4%;
    font-size: 20px;
    transition: all .5s ease;
}

.enlaces a:last-child
{
    margin-right: 0px;
}

.enlaces a:hover 
{
    transition: all .5s ease;
    color: orange;
    text-shadow: 2px 4px 10px black;
}

.contenido 
{
    margin: 140px 0px;
}

.pais
{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0px;
}

.nombre
{
    font-family: 'Chela One', cursive;
    font-size: 5.4em;
    margin: 0 auto;
    text-shadow: 5px 2px 10px Black;
}

.lema 
{
    color: #fff;
    margin-top: 0px;
    font-weight: bold;
    font-variant: small-caps;
    text-shadow: 5px 4px 10px black;
}

.contenido span 
{
    color: orange;
}

@media only screen and (max-width: 350px) {
.pais 
{
    font-size: 12px;
}

.nombre 
{
    font-size: 4em;
 }
}

@media only screen and (min-width: 500px){
    .pais, .lema
    {
        font-size: 20px;
    }

    .nombre 
    {
        font-size: 8em;
    }
}

@media only screen and (min-width: 768px) {
    .contenido 
    {
        margin: 48px 0px;
    }

    .pais, .lema 
    {
        font-size: 25px;
    }

    .nombre 
    {
        font-size: 9em;
    }
} 
/*-------------------------------------------*/
/*-------------MENU de Navegación------------*/
.barra 
{
    background-color: black;
    margin: 0 auto;
    width: 100%;
}

.contenedor 
{
    padding: 2%;
    line-height: 18px;

}
.logo 
{
    display: inline-block;
}

.logo h2
{
    margin: 0px;
    color: white;
    float: left;
    line-height: 22px;
    font-family: 'Chela One', cursive;
    text-transform: capitalize;
    display: inline-block;
}

.menu-movil span
{
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 5px;
    border-radius: 15%;
    background-color: white;
}

.menu-movil span:last-child 
{
    margin: 0px;
}

.menu-movil 
{
    float: right;
    border-left: 2px solid orange;
    padding-left: 2%;
}

.menu-movil:hover 
{
    cursor: pointer;
}

.menu-movil:hover span 
{
    background-color: orange;
}

.navegacion 
{
    display: none;
}

@media only screen and (min-width: 580px) {
.menu-movil 
{
    display: none;
}

.contenedor 
{
    padding: 1%;
}

.logo 
{
    width: 12%;
}

.navegacion 
{
    width: 85%;
    float: right;
    display: block;
    text-align: right;
}

.navegacion a
{
    font-size: 10px;
    padding: 0 2%;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: .7s;
}

.navegacion a:nth-child(1)
{
    color: #B049CE;
    border-bottom: solid 4px #B049CE;
} 

.navegacion a:hover 
{
    transition: .5s;
    color: orange;
    border-bottom: solid 4px orange;
    box-sizing: border-box;
 }
}

@media only screen and (min-width: 768px) {
.navegacion a 
{
    font-size: 14px;
 }
}

/*-------------------------------------------*/
/*---------Tablas-Informacion-Empresa--------*/
section.tablas 
{
    width: 100%;
    padding: 25px 0px;
}

article.tabla 
{
    width: 100%;
    display: table;
    margin: 10px 0px;
    background-color: #ffffff;
    box-shadow: 0px 0px 12px black;
}

article div.info-tabla 
{
    padding: 4%;
    display: block;
}

div.info-tabla h2 
{
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    color: #B049CE;
    text-shadow: 1px 2px 2px black;
}

div.info-tabla p 
{
    text-align: center;
    font-weight: bolder;
    box-sizing: border-box;
}

div.info-tabla p span 
{
    color: orange;
}

div.info-tabla ul 
{
    list-style: none;
    text-align: center;
}

div.info-tabla ul li i 
{
    color: rgb(59,255,59);
}


@media only screen and (min-width: 770px) {
    section.tablas 
    {
        padding: 2%;
    }

    article.tabla 
    {
        border-radius: 10%;
        width: 30%;
        height: 240px;
        float: left;
        margin: 1.65%;
        box-sizing: border-box;
        box-shadow: 0px 0px 18px black;
    }

    div.info-tabla h2
    {
        font-size: 2em;
    } 
    

}

/*-------------------------------------------*/
/*-----------------PARALAX-------------------*/
div.paralax-lema 
{
    background-image: url(../img/paralax.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

div.texto-lema 
{
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 100px 0px;
    margin: 0px;
}

div.texto-lema h2 
{
    font-family: 'Chela One', cursive;
    text-transform: capitalize;
}

div.texto-lema h3 span 
{
    color: orange;
}

@media only screen and (min-width: 768px) {
    div.texto-lema h2, 
    div.texto-lema h2
    {
        font-size: 4em;
    }
}

/*-------------------------------------------*/
/*-----------------Registo-----------------*/
section.registro 
{
    width: 100%;
    margin: 4% 0%;
    background-color: #fff;
    padding: 2%;
    box-shadow: 0px 0px 10px 2px gray;
}

div.unete h2 
{
    color: #B049CE;
    text-align: center;
    margin-bottom: 5%;
}

div.unete p 
{
    text-align: center;
    margin: 4%; 
}

a.boton 
{
    color: black;
    width: 40.3%;
    margin: 8% 30%;
    padding: 1% 2%;
    font-size: 12px;
    display: inline-block;
    background-color: #33F9FF;
    transition: .4s ease;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid black;
    font-weight: bold;
    box-sizing: border-box; 
}


a.boton:hover 
{
    background-color: #2CE2E7;
    transition: 0s ease;
    border: 1px solid purple;
    color: purple;
}

section.registro main
{
    padding: 5%;
    background-color: #FFFFB4;
    box-shadow: 0px 0px 12px 0px black;
}

section.registro main p i, span
{
    color: purple;
    font-weight: bold;
}

div.texto-lema time 
{
    font-size: 1.4em;
    font-weight: bold; 
    padding: 4%;
    text-align: center;
    text-shadow: 0px 0px 10px black;
}

@media only screen and (min-width: 400px) {
    a.boton 
    {
        width: 33.3%;
        margin: 2% 33.3%;
        padding: 1% 2%;
        font-size: 15px;
    }
}

@media only screen and (min-width: 768px) {
    a.boton 
    {
        width: 33.3%;
        margin: 2% 33.3%;
        padding: 1% 2%;
        font-size: 15px;
    }

    div.unete 
    {
        width: 75%;
        float: left;
    }

    .unete h2 
    {
        font-size: 2em;
        font-weight: bold;
    }

    main.dato-de-usuarios
    {
        width: 25%;
        float: right;
        box-shadow: 2px 4px 8px 0px black!important;
    }


}


/*-------------------------------------------*/
/*------------Mapa-Geografico----------------*/
div.mapa 
{
/*    width: 100%;
    height: 250px;*/
    background-color: rgba(100,255,100,.7);
    margin-bottom: 5%;
    overflow: hidden;
}

div.mapa iframe 
{
    width: 100%;
    height: 350px;
}
/*-------------------------------------------*/
/*-----------------Footer--------------------*/
.footer 
{
    color: #fff;
    width: 100%;
}

.footer h2, h5
{
    text-align: center;
    color: white;
    background-color: #000;
}

div.descripcion 
{
    width: 100%;
    padding: 2%;
    float: left;
    text-align: justify;
    background-color: #555;
    box-sizing: border-box;
    /*font-family: 'Chela One', cursive;*/
}

div.descripcion span 
{
    color: orange;
}

div.enlaces 
{
    padding: 5% 0%;
    width: 100%;
    float: right;
    background-color: #222;
    text-align: center;
}


@media only screen and (min-width: 580px) {
    div.enlaces 
    {
        padding: 2%;
    }

}
@media only screen and (min-width: 768px) {
    div.footer 
    {
        background-color: #222;
        display: table;
    }

    div.descripcion 
    {
        width: 60%;
    }

    div.enlaces 
    {
        width: 40%;
        display: table-cell;
        position: top; 
    }

}


/*-------------------------------------------*/

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
